body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex; /* üst sırayı yan yana dizebilmek için display flex ekledim */
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  font-family: arial,sans-serif;
  font-size: 13px;
  padding-left: 20px; 
}
.navbar{ /* üst sırada alan belirlemek için navbar ekledim */
  width: 1920px;
  height: 30px;
  margin: 0px;
  display: flex;

}
.ustsagsira{ /*etiketlerin sağ üst köşeye gelmesi için bir div koydum ve divi margin left 75% yaptım*/
  width: 20%;
  height: 30px;
  margin-left: 75%;
  font-size: 13px;
}
.ustsolsira{ /* üst sol taraftaki div aynı şekilde*/
  width: 20%;
  height: 30px;
  margin: 0px;
}

.headerli a {
  display: flex;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 13px;
}

.headerli a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  margin: 100px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 582px;
  border-radius: 24px;
}

.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}
.seslearama{/* sesle arama divinin yerini ayarladım  */
  display: flex;
  vertical-align: middle;
  margin-top: 30px;
}
.seslearama-img{ /* sesle arama görselini yerini belirledim*/
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
  
}
.seslearama:hover { /* sesle arama görselinin üzerine geldiğimizde fareyi işaret eline dönderiyor */
  cursor: pointer;
}
.seslearama-img span{ /* sesle arama görselinin boyutu ve görünüşünü ayarladım*/
  color: #9aa0a6;
  height: 35px;
  width: 35px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  width: 100%;/* genişliğini %100 yaptım böylece arama alanında her boş yerde tıklanabilir */
  border: none; /* çerçeveyi gizledim */
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.googlesearch {
 /* margin: 24px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;*/
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1); /* butonları arşivdeki ile aynı tasarıma sahip olması için arşivden butonları inceledim ve css kodlarını kopyaladım*/
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 24px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;

}
.googlesearch:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1); /* fareyle üzerine gelince arşivdeki gibi efekt vermesi için arşivden inceleyip kopyaladım */
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.feelinglucky {
  /*padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;*/
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1); /* aynı şekilde bu butona da uyguladım*/
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 24px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.feelinglucky:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  background-color: #f2f2f2; /* ödevde istenildiği gibi footer arka planının rengini #f2f2f2 yaptım */
}

.footerli {
  float: left;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}
ul{ /* footer daki ve bütün ul lerdeki dairelerden kurtulmak için list-style-type none ekledim*/
  list-style-type: none;
}